/* Ajoutez ici vos styles CSS personnalisés pour l'apparence de votre application */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    max-height: 100px;
  }
  
  .main {
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  /* Styles CSS pour les tableaux */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .emplois-table {
    margin-bottom: 40px;
  }
  
  
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  